div(class='ui grid')
  div(class='four wide column')
  div(class='eight wide column')
    div(class='ui segment')
      div(class='ui minimal comments')
        h3(class='ui dividing header') 留言
        each comment in comments
          include comment-content
        //- paging
        include paging
        if user
          form(class='ui reply form' method='post' action='/comments')
            input(name='postId' value=post._id hidden)
            div(class='field')
              textarea(name='content')
            input(class='ui icon button' type='submit' value='留言')

div.ui.tiny.modal.scrolling.transition.hidden
    div.header 回复
    div.content
      div.ui.form
        div.field
          textarea#content
        div.field
    div.actions
      div.ui.cancel.button 取消
      div.ui.approve.green.button 回复

script(type='text/javascript').
  function reply(comment){
    //填充回复提示
    var textarea = $('textarea#content');
    textarea.attr('placeholder', '回复 ' + comment.author.name + ':');

    //显示回复弹窗
    $('.ui.modal')
      .modal({
        onApprove : function(){
          var data = {};
          data.author = comment.author._id;
          data.postId = comment.postId;
          data.replyId = comment._id;
          if(comment.parentId){
            data.parentId = comment.parentId;
          }else{
            data.parentId = comment._id;
          }
          var content = textarea.val();
          data.content = content;
          $.ajax({
            type: 'POST',
            url: '/comments',
            data: data,
            success: function(data, textStatus, jqXHR){
              location.reload();
            }
          });

          return true;
        },
      })
      .modal('show');
  }
