/* ---------- 全局样式 ---------- */

body {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a:hover {
  border-bottom: 2px solid #4fc08d;
}

a {
  border-bottom: 2px solid transparent;
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

.inactive {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

/* ---------- nav ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- post-content ---------- */

div.post-header {
  overflow: hidden;
}

.post-title {
  display: inline-block;
  margin-bottom: 2px;
}

.post-content h3 a {
  color: #4fc08d !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0px;
}

.post-content .tag.right a {
  color: #999;
}

img.tag-item {
  width: auto;
  height: 1em;
}

.tag-item {
  margin-right: 5px;
}

/* ---------- paging ---------- */

div.paging-wrapper {
  overflow: hidden;
}

div.paging {
  float: right;
}

span.paging a {
  display: inline-block;
  text-decoration: none;
  padding: .15em .5em;
  font-weight: bold;
}

span.paging a.disabled {
  color: #999;
}
